table{
  font-family : sans-serif;
  border-collapse : collapse;
  width : 50%;
}
td, th{
  border : 1px solid #dddddd;
  text-align : left;
  padding : 8px;
}
tr:nth-child(even){
  background-color : #dddddd;
}
p{
  margin-left : 80px;
  margin-top : 0px;
  margin-bottom : 0px;
}
